@{
    ViewBag.Title = "About";
}


<!-- breadcrumb start-->
<div class="container">
    <div class="title" style="background-image: url('../../Images/textbg.jpg');">Daniel Chang's<BR />BLOG</div>
    <div class="subtitle">@ViewBag.Title</div>
</div>
<!-- breadcrumb start-->

<section class="blog_area section_padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col-md-8">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Images/blog/jellyfish.jpg" alt="">
                        </div>
                        <div class="blog_details posted">
                            <p>Hey, my name is Daniel Chang! Thanks for checking out my blog! <BR /> As you may have noticed, my blog's theme is revolved around nature! 
                            I really enjoy the outdoors (hiking, biking, camping, fishing, paddleboarding, etc.). However, one of my other passion is web programming!
                            I've taught myself HTML/CSS and have done a few Front-End designs for school, however I thought I'd give Back-End development a try!
                            As I continue to grow in Back-End development, I will update my blog to reflect it!
                            </p>

                        </div>
                    </article>
                </div>
            </div>
            <div class="col-2"></div>

        </div>
    </div>
</section>

